/* header 4 is used specifically for header of descriptions (Main Topics) */
h4{
	margin-bottom: 0px;
}

.courses{
	text-align: center;
	padding-top: 10px;
	background-color: #fafafa;
	min-height: 300px;
	padding-left: 20%;
	padding-right: 20%;

}
.attribute_container{
	padding-left: 110px;
	padding-right: 110px;
	min-height: 200px;
}
.attributes{
	text-align: left;
	float:left;
	width:33%;
	font-size: 1.2em;
}

.university_courses{
	font-size: 19px;
	text-align: left;
	display:block;
	float:left;
	width:50%;
}

.MOOC_courses{
	font-size: 19px;
	text-align: left;
	display:block;
	float:left;
	width:50%;
}

a.list_link{
	color:black;
	text-decoration: none;
}
