.project{
	padding-top: 30px;
	text-align: left;
	padding-left: 20%;
	padding-right: 20%;
	padding-bottom: 30px;
}
.past_projects{
	padding-left:30px;
	padding-right: 30px;
	padding-bottom:20px;
	background:#fafafa;
}
